@page "/"

@if (user == "admin")
{
    <PageTitle>Home</PageTitle>

    <h1>Hello, world!</h1>

    <p>Welcome admin</p>

}
else if (user == "cash")
{
    <PageTitle>Home</PageTitle>

    <p>Welcome admin</p>
}
else
{
    <Login></Login>
}

@code {

    [CascadingParameter] HttpContext? httpContext { get; set; }

    private string? user { get; set; }

    protected override void OnInitialized()
    {
        user = httpContext.Session.GetString("user");
    }
}