@page "/"

@if (user == "admin")
{
    <PageTitle>Home</PageTitle>

    <h1>Hello, world!</h1>

    <p>Welcome admin</p>

}
else if (user == "cash")
{
    <PageTitle>Home</PageTitle>

    <p>Welcome admin</p>
}
else
{
    <Login></Login>
}

@code {
    private user = ProtectedSessionStore.GetAsync<User>("user").Result.Value;
}